.dropdown-menu {
  background: white;
  position: absolute;
  top: 100px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: white;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: rgb(192, 189, 189);
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  text-align: left;
  display: block;
  height: 100%;
  width: 90%;
  text-decoration: none;
  color: goldenrod;
  padding: 16px;
}

@media screen and (max-width: 930px) {
  .fa-caret-down {
    margin: 28px;
    display: none;
  }
}
