.navbar {
  background: whitesmoke;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  position: fixed;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1900px;
}

.social-icon-link {
  color: goldenrod;
  font-size: 4px;
}

.social-media {
  max-width: 1000px;
  width: 100%;
}

.social-icons1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 0px;
}

.navbar-logo {
  color: goldenrod;

  justify-self: start;
  margin-left: 60px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(13, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  height: 100px;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: goldenrod;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid goldenrod;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: goldenrod;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -160%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: goldenrod;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: goldenrod;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 6rem auto;
    border-radius: 9px;
    width: 190%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: goldenrod;
    padding: 14px 20px;
    border: 1px solid goldenrod;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: goldenrod;
    color: #242424;
    transition: 250ms;
  }

  .social {
    right: 110cm;
  }
  .btn {
    right: 190px;
  }
}
